<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pace">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.EmailVerificatinActivity"></activity>
        <activity android:name=".Activity.Mobile_VerificationActivity" />
        <activity android:name=".Activity.IDVerificationActivity" />
        <activity android:name=".Activity.VerifyNowActivity" />
        <activity android:name=".Activity.EditProfileActivity" />
        <activity android:name=".Activity.MyProfileActivity" />
        <activity android:name=".Activity.Mortgage_Calculator" />
        <activity android:name=".Activity.EmailActivity" />
        <activity android:name=".Activity.RequestVisit" />
        <activity android:name=".Activity.SettingsActivity" />
        <activity android:name=".Activity.ShareActivity" />
        <activity android:name=".RentHome_Activity" />
        <activity android:name=".SaleHomeActivity" />
        <activity android:name=".Activity.Chat1_Activity" />
        <activity android:name=".Activity.WelcomeSplash" />
        <activity android:name=".Activity.WelcomeActivity" />
        <activity android:name=".Activity.SplashAcitivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.PasswordResetSuccess" />
        <activity android:name=".Activity.ResetPasswordActivity" />
        <activity android:name=".Activity.CodeActivity" />
        <activity android:name=".Activity.ForgetPassword_Activity" />
        <activity android:name=".Activity.Register_Activity" />
        <activity android:name=".Activity.NavigationActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>